.skills {
    position: relative;
    box-sizing: border-box;
    background: $background-light;
    
    // ======================================
    // TITLE OF THE SECTION
    &__title {
        font-size: $heading-primary-fs;
        width: $content-width;
        margin: 2rem auto 5rem;
        @include respond(phone) {
            width: $content-width-mobile;
            font-size: $heading-primary-fs;
            padding: 0 2rem;
        }

        h2 {

            .text-animation {
                position: relative;
                
                line-height: 0.6;
                &__content {
                    
                    @include lineAfterHeadings;
                    @include respond(phone) {
                        @include lineAfterHeadingsMobile;
                        &::after {
                            content: ' ';
                            // height: 0.1rem;
                        }

                    }
                }
                
            }
            @include respond(phone) {
                font-size: $heading-primary-fs-mobile;
                // @include lineAfterHeadingsMobile;
            }
        }
        
    }


    // ======================================
    // CONTENT OF THE SECTION

    
    &__content {
        position: relative;
        min-height: 50rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include respond(phone) {
            display: block;
            grid-template-columns: 1fr;
            max-width: 100%;
        }


        ///////////////////////////////
        // Left part of the section
        .description {

            &__wrapper{
            // @include contentWidthAll;
            max-width: $content-width;
            margin: 0 auto;
            @include respond(phone) {
                box-sizing: border-box;
                margin-bottom: 4rem; 
                padding: 2rem; 
                max-width: 100vw; 
            }
            }
            &__content {
                max-width: 40rem;
                @include respond(phone) {
                    max-width: 100%;
                }
            }
            &__heading {
                margin: $sub-heading-margin;
                font-size: $heading-secondary-fs;   
                // transition: all 2s linear;  
            }
            &__text {
                @include defaultParagraph;
                min-width: 40rem;
                // transition: all 2s linear;
                @include respond(phone) {
                    max-width: 100%;
                    min-width: 0;
                }
            }
        }

        /////////////////////////////////////////
        // Right part of the SKILLS SECTION
        // list of the skills
        .skill-list {

            
            &__wrapper {
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 2rem;
                grid-gap: 4rem;
                
                @include respond(phone) {
                    max-width: 100vw;
                    background-color: $background-dark;
                    box-sizing: border-box;
                    grid-gap: 2rem;
                }
            }
            &__set {
                z-index: 10;
                position: relative;
                @include respond(phone) {
                    margin-bottom: 2rem;
                }
            }
            &__heading {
                position: relative;
                font-family: $font-primary;
                font-size: $heading-secondary-fs;
                font-weight: 400;
                letter-spacing: 1px;
                color: $white;
                align-content: center;
                margin-bottom: 1rem;
                @include respond(phone) {
                    font-size: $heading-tertiary-fs;
                    
                }
            }
            &__element {
                color: $text-light;
                font-family: $font-secondary;
                font-size: $default-fs;
                position: relative;
                line-height: 1.6;
                cursor: pointer;
                transition: all 0.15s ease-in-out;
                &:hover {
                    color: $white;
                }
            }
            
        }

    }
    
    .description-trigger {
        border: 1px solid greenyellow;
        // display: block;
        z-index: 0;
       
        
    }
    .hover--container {
        // visibility: hidden;
        position: absolute;
        left:  100%;
        bottom: 50%;
        width: 30rem;
        height: 30rem;
        color: red;
        border: 1px solid red;
        background: rgb(0, 0, 0);
        z-index: 2147483647;
        
    }
    .is-active {
        position: relative;
        color: white;
        mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        mask-size: 200%;
        animation: shine 4s linear infinite;

         .description-container {
            visibility: visible;
        }
        &:hover {
            color: white;
            animation: none;
        }
        
    }


    // .shine {
    //     background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    //     background-size: 150px;
    //     color: $white-darken;
    //     background-clip: text;
    //     animation-name: shine;
    //     animation-duration: 5s;
    //     animation-iteration-count: infinite;
    //     text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
    // }








    // Independent background div for the section to expand 
    // over inner wrapper
    &__list-background {
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 50%;
        right: 0;
        top: 0;
        background-color: $background-dark;

        @include respond(phone) {
            display: none;
        }

    }
}



