.text-orange {
    color: $explore-orange;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-left {
    text-align: left;
}
.text-medium {
    font-weight: 400;
}
.text-bold {
    font-weight:  700;
}