body {
    font-family: 'Gurajada', 'Open Sans', serif;
    // font-family: , sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     box-sizing: border-box;
     
}