
// COLOR

$background-light: #f9f9f9;
$background-dark: #333333;

$black: #000;
$white: #fff;
$white-darken: #f8f8f8;
$text-dark: #2d2d2d;
$text-dark-lighter: #1a1a1a;
$text-light: #a1a1a1;
$link-hover: #FD664C;

$color-link-hover: #267df4;

$element-border: #e8e8ea;
$background-light-darken: #f7f7f7;

// explore app colors
$explore-orange: #e27a3f;
$explore-dark: #3e454c;
$explore-text: #f2f2f2;
$explore-background-tiles: #2e2e2e;
$explore-background-section: #202020;
$explore-color-1: #3E454C;
$explore-color-2: #E27A3F;
$explore-color-3: #F2F2F2;


// FONT

$heading-primary-fs: 10rem;
$heading-primary-fs-mobile: 8rem;
$heading-secondary-fs: 3.6rem;
$heading-tertiary-fs: 2.4rem;
$xs-fs: 1.2rem;
$smaller-fs: 1.4rem;
$default-fs: 1.6rem;
$bigger-fs: 1.8rem;


// Layout

$pad-calc: calc(14px + 40 * ((100vw - 320px) / 1600));

$content-width: 100rem;
$content-width-mobile: 100%;

// FONT

$font-primary: 'Gurajada', serif;
$font-secondary: 'Open Sans', serif;

$sub-heading-margin: 2rem 0;