.contact {
    background: $background-dark; 
    color: $white;
    padding-bottom:  0;

    &__content {
        display: grid;
        justify-items: center;
        text-align: center;
        max-width: $content-width;
        margin: 0 auto;
    }
    &__title {
        font-size: $heading-primary-fs;

    }
    &__sub-heading {
        margin-bottom: 2rem;
    }
    &__sub-heading,
    &__phone,
    &__email {
        font-size: $heading-tertiary-fs;
        font-family: $font-secondary; 
    }
    &__email {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    &__phone {
        margin: 2rem 0;
    }
}