.exploreApp-page {
    // background: $explore-background-section;
}
.exploreapp {
    background: $explore-background-section;
    display: grid;
    grid-template-columns: 1fr;
    &__introduction {

    }
}