
.navigation {
    position: relative;
    
    &__checkbox {
        display:none;
    }
    &__button {
        position: relative;
        background-color: $black;
        color: $white;
        height: 52px;
        width: 52px;
        z-index: 200;
        cursor: pointer;
        display: flex;
        align-content: center;
        justify-content: center;
       

        &-icon {
            width: calc(12px + 18 * ((100vw - 320px) / 1600));
            fill: #fff;
            
            height: auto;
            -webkit-transform: rotateZ(0deg);
            -ms-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
            -webkit-transition: -webkit-transform .25s ease,fill .15s ease;
            -webkit-transition: transform .25s ease,fill .15s ease;
            transition: transform .25s ease,fill .15s ease;
            z-index: 200;
        }
    }
    &__background {
        // display: none;
        position: absolute;
        top:0;
        right: 0;
        height: 0;
        width: 0;
        opacity: 0;
        background: $white;
        z-index: 150;
        transition:all 0.5s ease;
    }

    &__menu-wrapper {
        // background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: $pad-calc;
        z-index: 160 ;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .25s ease,visibility .25s 0s linear;
        transition: opacity .25s ease,visibility .25s 0s linear;

    }

    &__menu-content {
        height: 60vh;
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        
        @include respond(phone) {
            grid-template-columns: 1fr;
            // justify-content: end;
            text-align: center;
            height: calc(100% - 6rem);
        }

        
    }
    &__legal {
        height: 3rem;
        font-size: 1.6rem;
        position: absolute;
        bottom: 0;
        display: flex;
        align-content:
        
        &-mobile-nav {
            
        }
    }
    &__menu-nav {
        display: grid;
        justify-items: center;
        align-items: center;
        min-width: 320px;
        
        
    }
    &__list {
        
        
    }
    &__item {
        padding: 1rem 0;
        // @include respond(phone) {
        //     padding: 0;
        // }
    }
    &__item a {
        font-size: 3.2rem;
        
        line-height: 1.6;
        color: $black;
        text-decoration: none;
        transition: color .25s ease;
        @include respond(phone) {
            grid-template-columns: 1fr;
            justify-content: end;
        }
        &:hover {
            color: $link-hover;
        }
    }

    &__menu-contactInfo {
        // height: 60vh;
        display: grid;
        align-items: start;
        justify-content: center;
        padding-right: 20rem;
        @include respond(phone) {
            padding: 0;
        }
        
        .reach_out {
            
            margin-bottom: 5rem;
            @include respond(phone) {
                margin: 0;
            }

        }
        .info_title {
            display: block;
            padding: 1rem 0;
            font-size: 3.6rem;
            line-height: 1.6;
            font-weight: 700;
            @include respond(phone) {
                display: none;
            }

        }
        .email_address {
            font-family: 'Open Sans'; 
            display: block;
            position: relative;
            line-height: 1.6;
            font-size: 2rem;
            font-weight: 300;
            color: $link-hover;
            background-color: transparent;
            -webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
            transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translateX(0) scaleX(0);
                transform-origin: 0% 0%;
                width: 100%;
                height: 1px;
                background-color: rgba(31, 31, 31, 0.8);
                transition: transform 250ms;
            }
            &:hover {
                &::after {
                    content: '';
                    transform: translateX(0) scaleX(1);
                }
            }
            
            
        }
        
        .social-media {
            padding: 2rem 0;
            

            a {
                margin-right: 1rem;
                
                svg {
                    transition: fill 0.25s ease;
                }
                
                &:hover {
                    svg {
                        fill: $link-hover;
                    }
                }
            }
        }

    }

    // #navi-toggle {
    //     display: none;
    // }


    &__checkbox:checked ~ &__menu-wrapper {
        visibility: visible;
        opacity: 1;
    }
    &__checkbox:checked ~ &__background {
        height: calc(100vh - (2 * #{$pad-calc}));
        width: calc(100vw - 2 * (20px + 40 * ((100vw - 320px) / 1600)));
        opacity: 1;
        z-index: 150;
        position: absolute;
        display: flex;
    }
    &__checkbox:checked ~ &__button {
        background-color: $white;
        &-icon {
            transform: rotate(45deg)!important;
            
        }
    }
    &__checkbox:checked ~ &__button svg {
            transform: rotateZ(45deg)!important;
            fill: $black;
        }
    
    
    
        
    
}







