.skills {
    position: relative;
    box-sizing: border-box;
    background: $background-light;
    
    // ======================================
    // TITLE OF THE SECTION
    &__title {
        font-size: $heading-primary-fs;
        width: $content-width;
        margin: 2rem auto 5rem;

        h2 {

            .text-animation {
                position: relative;
                
                line-height: 0.6;
                &__content {
                    
                    @include lineAfterHeadings;
                }
                
            }
        }
        
    }


    // ======================================
    // CONTENT OF THE SECTION

    
    &__content {
        position: relative;
        min-height: 50rem;
        display: grid;
        grid-template-columns: 1fr 1fr;


        ///////////////////////////////
        // Left part of the section
        .description {

            &__wrapper{
            
            max-width: $content-width;
            margin: 0 auto;
            }
            &__content {
                max-width: 40rem;
            }
            &__heading {
                margin: $sub-heading-margin;
                font-size: $heading-secondary-fs;   
                // transition: all 2s linear;  
            }
            &__text {
                @include defaultParagraph;
                min-width: 40rem;
                // transition: all 2s linear;
            }
        }

        /////////////////////////////////////////
        // Right part of the SKILLS SECTION
        // list of the skills
        .skill-list {

            &__wrapper {
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 2rem;
                grid-gap: 4rem;
            }
            &__set {
                z-index: 10;
                position: relative;
            }
            &__heading {
                position: relative;
                font-family: $font-primary;
                font-size: $heading-tertiary-fs;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1.5px;
                line-height: 1.6;
                color: $white;
                align-content: center;
                margin-bottom: 1rem;
            }
            &__element {
                // position: relative;
                color: $white-darken;
                font-family: $font-secondary;
                font-size: $smaller-fs;
                // display: inline-block;
                position: relative;
                // font-family: 'Merriweather', serif;
                // font-size: 24px;
                // font-weight: bold;
                line-height: 1.4;
                height: 2.5rem;
                cursor: pointer;
                &:hover {
                    color: $white;
                }
            }
            
        }

    }
    
    .description-trigger {
        border: 1px solid greenyellow;
        // display: block;
        z-index: 0;
       
        
    }
    .hover--container {
        // visibility: hidden;
        position: absolute;
        left:  100%;
        bottom: 50%;
        width: 30rem;
        height: 30rem;
        color: red;
        border: 1px solid red;
        background: rgb(0, 0, 0);
        z-index: 2147483647;
        
    }
    .is-active {
        position: relative;
        mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        mask-size: 200%;
        animation: shine 4s linear infinite;

         .description-container {
            visibility: visible;
        }
        
    }


    // .shine {
    //     background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    //     background-size: 150px;
    //     color: $white-darken;
    //     background-clip: text;
    //     animation-name: shine;
    //     animation-duration: 5s;
    //     animation-iteration-count: infinite;
    //     text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
    // }








    // Independent background div for the section to expand 
    // over inner wrapper
    &__list-background {
        position: absolute;
        z-index: 2;
        height: 50rem;
        width: 50%;
        right: 0;
        top: 0;
        background-color: $background-dark;

    }
}



